:host {
  display: block;
}
.toaster-container {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__left,
  &__right {
    max-width: min(100%, 500px);
    box-sizing: border-box;
  }
}
