/* Colors: */
$color-f44682: #f44682;
$color-eff0f4: #eff0f4;
$color-f4f5f8: #f4f5f8;
$color-66bb6a: #66bb6a;
$color-ccd2e2: #ccd2e2;
$color-ef7da0: #ef7da0;
$color-a4a4b5: #a4a4b5;
$color-f3f6f9: #f3f6f9;
$color-3f4254: #3f4254;
$color-2e8ff0: #2e8ff0;
$color-ebedf3: #ebedf3;
$color-ffffff: #ffffff;
$color-eef0f8: #eef0f8;
