.grid-container {
  display: grid;
  grid-template-columns: 45px 3fr 45px;
  grid-template-rows: 120px 3fr 120px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  &__header {
    grid-area: header;
  }
  &__main {
    grid-area: main;
  }
  &__footer {
    grid-area: footer;
  }
}
