
<div class="card">
  <app-user-data-table [list]="userData.getFullList() | async"></app-user-data-table>
</div>

<button class="btn btn--primary">Primary</button> <br />
<button class="btn btn--warning">Warning</button> <br />

<div class="toaster toaster--success">
  <span class="toaster__text">Success</span>
</div>
<br />

<div class="toaster toaster--error">
  <span class="toaster__text">Error</span>
</div>
<br />

<input class="form-control" type="text" /> <br />

<input type="email" class="form-control" />

<input type="email" class="form-control" invalid />

<select class="form-control">
  <option value="0">Select car:</option>
  <option value="1">Audi</option>
  <option value="2">BMW</option>
  <option value="3">Citroen</option>
  <option value="4">Ford</option>
  <option value="5">Honda</option>
  <option value="6">Jaguar</option>
  <option value="7">Land Rover</option>
  <option value="8">Mercedes</option>
  <option value="9">Mini</option>
  <option value="10">Nissan</option>
  <option value="11">Toyota</option>
  <option value="12">Volvo</option></select
><br />
