.container {
  margin: 31px 26px;
}
.top-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 29px;
  &__controls {
  }
}
.bottom-panel {
  margin-top: 16px;
  &--between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &--center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
