<div class="container">
  <div class="top-panel">
    <div class="top-panel__titile form-title">Create new user</div>
    <div class="top-panel__controls">
      <div class="icon-close clickable"></div>
    </div>
  </div>
  <div class="form-control-field">
    <label class="form-label">Username*</label>
    <input class="form-control" type="text" />
  </div>
  <div class="form-control-field">
    <label class="form-label">First name*</label>
    <input class="form-control" type="text" />
  </div>

  <div class="form-control-field">
    <label class="form-label">Last name*</label>
    <input class="form-control" type="text" />
  </div>

  <div class="form-control-field">
    <label class="form-label">Email*</label>
    <input class="form-control" type="email" />
  </div>

  <div class="form-control-field">
    <label class="form-label">Type*</label>
    <select class="form-control">
      <option value="0">Select car:</option>
      <option value="1">Audi</option>
      <option value="2">BMW</option>
    </select>
  </div>

  <div class="form-control-field">
    <label class="form-label">Password*</label>
    <input class="form-control" type="text" />
  </div>

  <div class="form-control-field">
    <label class="form-label">Repeat password*</label>
    <input class="form-control" type="text" />
  </div>
  <div class="bottom-panel">
    <div class="bottom-panel--center">
      <button class="btn btn--primary">Save</button>
    </div>
    <div class="bottom-panel--between">
      <button class="btn btn--warning">Delete</button>
      <button class="btn btn--primary">Create</button>
    </div>
  </div>
</div>
