<div class="container">
  <div class="top-panel">
    <div class="top-panel__titile form-title">
      @if (isItNewUser()) {
      <span>Create new user</span>
      } @else {
      <span>{{ model.first_name + " " + model.last_name }}</span>
      }
    </div>
    <div class="top-panel__controls">
      <div class="icon-close clickable" (click)="close()"></div>
    </div>
  </div>
  <form #userForm="ngForm" autocomplete="off">
    <!-- <pre> {{ model | json }}</pre> -->

    <div class="form-control-field">
      <label class="form-label">Username*</label>
      <input
        [disabled]="disabled() || !isItNewUser()"
        #username="ngModel"
        class="form-control"
        type="text"
        [(ngModel)]="model.username"
        name="username"
        required
        appServerValidatorFor="username"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: username }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">First name*</label>
      <input
        [disabled]="disabled()"
        #first_name="ngModel"
        class="form-control"
        type="text"
        [(ngModel)]="model.first_name"
        name="first_name"
        required
        appServerValidatorFor="first_name"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: first_name }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">Last name*</label>
      <input
        [disabled]="disabled()"
        #last_name="ngModel"
        class="form-control"
        type="text"
        [(ngModel)]="model.last_name"
        name="last_name"
        required
        appServerValidatorFor="last_name"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: last_name }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">Email*</label>
      <input
      autocomplete="off"
        [disabled]="disabled()"
        #email="ngModel"
        class="form-control"
        type="email"
        [(ngModel)]="model.email"
        name="email"
        required
        email
        appServerValidatorFor="email"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: email }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">Type*</label>
      <select
        [disabled]="disabled()"
        #user_type="ngModel"
        class="form-control"
        [(ngModel)]="model.user_type"
        name="user_type"
        required
        appServerValidatorFor="user_type"
      >
        @for (type of userTypes(); track type) {
        <option [value]="type">{{ type }}</option>
        }
      </select>
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: user_type }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">Password*</label>
      <input
        [disabled]="disabled()"
        #password="ngModel"
        class="form-control"
        type="password"
        [(ngModel)]="model.password"
        name="password"
        autocomplete="new-password"
        appStrongPasswordValidator
        required
        appServerValidatorFor="password"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: password }"
      >
      </ng-container>
    </div>

    <div class="form-control-field">
      <label class="form-label">Repeat password*</label>
      <input
        [disabled]="disabled()"
        #rePassword="ngModel"
        class="form-control"
        type="password"
        [(ngModel)]="model.rePassword"
        name="rePassword"
        [appMatchValueValidator]="model.password"
        autocomplete="new-password"
        required
        appServerValidatorFor="rePassword"
      />
      <ng-container
        [ngTemplateOutlet]="validationMessages"
        [ngTemplateOutletContext]="{ control: rePassword }"
      >
      </ng-container>
    </div>
  </form>
  <div class="bottom-panel">
    @if (isItNewUser()) {
    <div class="bottom-panel--center">
      <button
        class="btn btn--primary"
        [disabled]="userForm.invalid || disabled()"
        (click)="create()"
      >
        Create
      </button>
    </div>
    } @else {
    <div class="bottom-panel--between">
      <button
        class="btn btn--warning"
        (click)="delete()"
        [disabled]="disabled()"
      >
        Delete
      </button>
      <button
        class="btn btn--primary"
        [disabled]="userForm.invalid || !userForm.dirty || disabled()"
        (click)="save()"
      >
        Save
      </button>
    </div>
    }
  </div>
</div>

<ng-template #validationMessages let-control="control">
  <span class="validation-message" *ngIf="control.errors && control.touched">
    {{ control?.errors | appValidationMessages }}
  </span>
</ng-template>
